#################################
# Unreal Derived Files
#################################
*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
BuildingEscape/Content/StarterContent

#################################
# Unreal Derived Files
#################################
*.VC.db
*.opendb
*.suo
